.container {
  margin: auto;
  width: 800;
  padding-top: 1rem;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

thead {
  text-align: left;
  font-size: x-large;
}

input {
  width: 30%;
  font-size: larger;
  
}
